
[Unit]
Description=The python script that runs the NNBC sensor
After=network.target

[Service]
Type=simple
PIDFile=/usr/local/nginx-nnbc/logs/sensor.pid
ExecStart=/usr/bin/python3 /usr/local/bin/nnbc/nnbc.py /etc/nnbc/nnbc_conf.yaml
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /usr/local/ninx-nnbc/logs/sensor.pid
TimeoutStopSec=5
KillMode=mixed
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

